*{
	box-sizing:border-box;
/* 	outline:1px solid rgba(0,0,0,0.5);	 */
	font-family: "微软雅黑";
}
nav {
	height:90px;
}
.main {
	display:flex;
}
aside {
	width:15%;
}
.content {
	padding-top:30px;
	width:85%;
}
