<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/add-exam.css">
    <script src="js/laydate/laydate.js"></script>
</head>
<body>
<form action="" autocomplete="off">
<div id="manage-content" class="content">
    <div class="left">
    <div class="manage-head">
     	<p>题库查找</p>
    </div>
    
    <div class="find-method">
        <label>
            <input   autocomplete="off" type="radio" class="radio" name="radio" value="Type" v-model="searchType" >按类型查找</label>

        <label>
            <input  autocomplete="off" type="radio" class="radio" name="radio" value="Face" v-model="searchType">按题目查找</label>
        <label>
            <input  autocomplete="off" type="text" class="text" placeholder="请输入查找内容" v-model="keyword"></label>
        </label>
        <label class="find"><a href="javascript:;" @click="toFind">查找</a></label>
    </div>
    
    <div class="question-list">
        <ul class="question">
            <li v-for="q in questions">
                <label>
                	<input  autocomplete="off" type="checkbox"  :value="$index" v-model="checkList">
      				<span>[ {{ type($index) }} ]</span>
                	{{{q.face}}}
                </label> 
                <input  autocomplete="off" type="text" class="score" placeholder="输入该题分值">
            </li>        
        </ul>
        
       <div id="laypage1"></div>
   
       <div class="addBtn">
           <a @click="addQuestions">添加</a>
       </div>
	
   	 </div>

	 </div>

    <!--已选择的题模块-->

    <div class="right">
        <div class="selected-title">
            已选择题目
        </div>
        
        <div class="selected-question">
             <ul class="question-face">
                 <li v-for="sq in selectedQuestions"> {{{sq.face}}}
                 	<a class="delete" @click="deleteQ($index)">删除</a>
                 </li>
             </ul>
                <div class="paperSet">
                 <div class="paperTitle">
                	     试卷标题:<input type="text" placeholder="title" v-model="title">
                 </div>

                <div class="paperTitle">
                    开始时间:<input  autocomplete="off"  onclick="laydate()" name="12" id="startTime">

                </div>
                <div class="paperTitle">

                      结束时间:<input  autocomplete="off"  onclick="laydate()" name="fd" id="endTime">
           
                </div>
                <div class="paperTitle">
		                    是否公开:<input type="radio"  name="radio" id="hide">
		                    是<input type="radio"  name="radio" id="showtext">
		                    否  <input   autocomplete="off"  type="password" placeholder="请输入密码" id="text" class="pwd" v-model="password">
                </div>

            </div>
             
            <div class="generateBtn">
                <a class="submit" @click="generate"> 生成试卷</a>
            </div>
        </div>
    </div>
</div>
</form>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/laypage.js"></script>
    <script src="js/vue.js"></script>
    <script>	
       
    var app = new Vue({
   		el:'#manage-content',
   		data:{
   			questions:[]
			,selectedQuestions:[]
   			,checkList:[]
    		,searchType:'Type'
    		,keyword:''
    		,limit:6
    		,password:null
    		,title:null
   		},
   		methods:{
   			type:function(index){
   				if (app.questions[index].answer) return '文本题';
   				else if(app.questions[index].isRadio) return '单选题';
   				return '多选题';
   			}
   			,addQuestions:function(){
   				for (var i=0;i<this.checkList.length;++i){
   					this.selectedQuestions.push(this.questions[this.checkList[i]]);
   				}
   			}
   			,deleteQ:function(index){
   				this.selectedQuestions.$remove(this.selectedQuestions[index]);
   			}
   			,toFind:function(){
   				demo();
   			}
   			,generate:function(){
   				var qidString = ''
   				for (var i=0;i<this.selectedQuestions.length;++i){
   					if (i!=0) qidString += ',';
   					qidString += this.selectedQuestions[i].id;
   				}
   				
   				console.log(qidString);
   				var startTime = new Date($('#startTime').val()).getMilliseconds();
   				var endTime = new Date($('#endTime').val()).getMilliseconds();
   				$.ajax({
   					url:'insertPaper'
   					,type:'post'
   					,data:{
   						title:this.title
   						,password:this.password
   						,startTime:(new Date($('#startTime').val())).getTime()
   						,endTime : (new Date($('#endTime').val())).getTime()
   						,qidString:qidString
   					},success(data){
   						if (data.code==0){
   							alert('试卷插入成功');
   						}
   					}
   				})
   			}
   		}
   	});
    
    function getTimeLong(date){
    	  var yy=date.getYear(); 
    	var MM=date.getMonth() + 1; 
    	var dd=date.getDay(); 
    	var hh=date.getHours(); 
    	var mm=date.getMinutes(); 
    	var ss=date.getSeconds(); 
    	var sss=date.getMilliseconds();
    	return Date.UTC(yy,MM,dd,hh,mm,ss,sss); 
    }
    
    function demo(curr){
        $.ajax({
        	url:'selectQuestionBy'+app.searchType
      		,type:"post"
      		,data:{
				word:app.keyword
				,start:(curr||1)*app.limit-app.limit
				,limit:app.limit	
			}
       		 ,success:function(data){
       				app.questions = data.rows;
       	            laypage({
       	            cont: 'laypage1', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
       	            pages: (data.results-1)/app.limit+1, //通过后台拿到的总页数
       	            curr: curr || 1, //当前页
       	            jump: function(obj, first){ //触发分页后的回调
       	                if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr
       	                    demo(obj.curr);
       	                }
       	            	app.checkList = [];
       	            }
       	        });
			}
        });
    };
    //运行
    demo();

    var show=document.getElementById("showtext");
    var text=document.getElementById("text");
    var hide=document.getElementById("hide");
    show.onclick=function () {
        text.style.display="inline-block";
    }
    hide.onclick=function () {
        text.style.display="none";
    }

   </script>
</body>
</html>