<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>正在进行的考试</title>
    <link rel="stylesheet" href="css/exams.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <style type="text/css">
        .datatable tr:hover
        {
            background: #2aabd2;
            color:#0000CC;
           	cursor: pointer;
        }
    </style>
</head>
<body>

	
	
   <div id="fluid-nowTestcontainer">
         <div class="nowTestcontainer">
               <div class="nowTestcontainerHead">
                  <h1>正在进行的考试</h1>
               </div>
             <div class="search-face">
                 <label>
             <input type="text" placeholder="请输入考试编号">
                     <a>搜索</a>
                 </label>
             </div>
             <div class="nowTestcontainerTable">


                 <table width="200" class="datatable">

                     <tr>
                         <th>编号</th>
                         <th>标题</th>

                         <th>开始时间</th>
                         <th>结束时间</th>
                         <th>出题者</th>
                         <th>是否公开</th>
                     </tr>

                     <tr v-for="exam in exams" @click="clickExam($index)">
                         <td>{{exam.id}}</td>
                         <td> {{exam.title}}</td>
                         <td>{{exam.startTime}}</td>
                         <td> {{exam.endTime}}</td>
                         <td> {{exam.username}}</td>
                         <td> 
                         	<span v-if="exam.password">私有</span>
                         	<span v-else>公开</span>
                         </td>
                     </tr>

                  </table>
             </div>
             
             <div class="nowTestcontainerPage">
                 <div id="laypage"></div>
             </div>

         </div>
         
         <div class="modal fade" id="inputPassword">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">请输入密码进入考试</h4>
		      </div>
		      <div class="modal-body">
		        <input type="text" v-model="password"/>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
		        <button type="button" class="btn btn-primary" @click.prevent="submit">确定</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
   	
   </div>
   
   <script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
   <script src="js/vue.js"></script>
   <script src="js/laypage.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script>
   Date.prototype.pattern=function(fmt) {         
	    var o = {         
	    "M+" : this.getMonth()+1, //月份         
	    "d+" : this.getDate(), //日         
	    "h+" : this.getHours()%12 == 0 ? 12 : this.getHours()%12, //小时         
	    "H+" : this.getHours(), //小时         
	    "m+" : this.getMinutes(), //分         
	    "s+" : this.getSeconds(), //秒         
	    "q+" : Math.floor((this.getMonth()+3)/3), //季度         
	    "S" : this.getMilliseconds() //毫秒         
	    };         
	    var week = {         
	    "0" : "/u65e5",         
	    "1" : "/u4e00",         
	    "2" : "/u4e8c",         
	    "3" : "/u4e09",         
	    "4" : "/u56db",         
	    "5" : "/u4e94",         
	    "6" : "/u516d"        
	    };         
	    if(/(y+)/.test(fmt)){         
	        fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));         
	    }         
	    if(/(E+)/.test(fmt)){         
	        fmt=fmt.replace(RegExp.$1, ((RegExp.$1.length>1) ? (RegExp.$1.length>2 ? "/u661f/u671f" : "/u5468") : "")+week[this.getDay()+""]);         
	    }         
	    for(var k in o){         
	        if(new RegExp("("+ k +")").test(fmt)){         
	            fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));         
	        }         
	    }         
	    return fmt;         
	}       
	     
   		var app = new Vue({
   			el:'#fluid-nowTestcontainer'
   			,data:{
   				exams:[]
   				,limit:6
   				,password:null
   				,index:null
   			},
   			methods:{
   				submit:function(){
   					$.ajax({
   						url:'checkInExam'
   						,type:'post'
   						,data:{
   							id:this.exams[this.index].id
   							,password:this.password
   						}
   						,success:function(data){
   							if (data.code != 0){
   								alert(data);
   							}else{
   								window.location.assign("exampaper?id="+app.exams[app.index].id);
   							}
   						}
   					})	
   				}
   				
   				,clickExam:function(index){
   					this.password = null;
  					this.index = index;
   					if (this.exams[index].password){
   						$('#inputPassword').modal();
   					}else{
   						$.ajax({
   	   						url:'checkInExam'
   	   						,type:'post'
   	   						,data:{
   	   							id:this.exams[this.index].id
   	   							,password:this.password
   	   						}
   	   						,success:function(data){
   	   							if (data.code != 0){
   	   								alert(data);
   	   							}else{
   	   								window.location.assign("exampaper?id="+app.exams[app.index].id);
   	   							}
   	   						}
   	   					})	
   					}
   				}
   				
   			}
   		})
   		
   		function fetch(curr){
   		    $.ajax({
   		    	url:'selectNowExam'
   		    	,type:'post'
   		    	,data:{
   		    		start:(curr||1)*app.limit-app.limit
   		    		,limit:app.limit
   		    	}
   		    	,success:function(data){
   		    		app.exams = data.rows;
   		    		for (var i=0;i<app.exams.length;++i){
   		    			app.exams[i].startTime = new Date(app.exams[i].startTime).pattern("yyyy-MM-dd HH:mm:ss");
   		    			app.exams[i].endTime = new Date(app.exams[i].endTime).pattern("yyyy-MM-dd HH:mm:ss");
   		    		}
   		    		laypage({
   	   		            cont: 'laypage', //容器。值支持id名、原生dom对象，jquery对象。【如该容器为】：<div id="page1"></div>
   	   		            pages: (data.results-1)/app.limit+1, //通过后台拿到的总页数
   	   		            curr: curr || 1, //当前页
   	   		            jump: function(obj, first){ //触发分页后的回调
   	   		                if(!first){ //点击跳页触发函数自身，并传递当前页：obj.curr
   	   		                	fetch(obj.curr);
   	   		                }
   	   		            }
   	   		        });
   		    	}
   		    })
   		    
   		};
   		//运行
   		fetch();
   </script>
</body>
</html>