<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>练习系统</title>
    <link  rel="stylesheet" href="css/style.css">
</head>
<body id="app">

<div  id="header">
    <!-- <p class="practice">专项练习</p>-->
    <div class="nav-left logo">考试系统</div>
    <div class="nav-center">
        <ul >
            <li> <a href="">首页</a> </li>
            <li> <a href="#">专项练习</a></li>
        </ul>
    </div>
    <div class="nav-right"> 
			
           <div>
            <a href="#" id="example">登陆</a>  <a href="regist.html">注册</a>  	
           </div>
         	<!-- 
          <div>
           <img class="face" src="http://oa17fj4lp.bkt.clouddn.com/NBA.png"> 
         </div>
          -->
    </div>
</div>

<form action="practice" method="POST">
	<section class="flex-wrap">
	    <section class="super-type"  v-for="superType in superTypeList">
	        <div class="tag-top">
	            <h2>
	                {{superType.title}}
	            </h2>
	          <!--   <label> <input type="checkbox" class="checkbox-all">全选</label> -->
	        </div>
	        <ul class="question-type">
	            <li v-for="type in superType.list">
	                <label> <input type="checkbox" name="tag" value={{type.id}}>
	                    <p> {{type.type}}</p>
	                </label>
	                <div class="progress"></div>
	                <span class="number-text">{{type.count}}</span>
	            </li>
	        </ul>
	    </section>
	
	    <!--主体尾部：选择难易程度和题数-->
	    <div id="bottom-select">
	        <div class="second">
	            <label class="adjustment">调整难度系数：</label>
	            <select id="num" name="diffculty">
	                <option value ="1">1</option>
	                <option value ="2">2</option>
	                <option value="3">3</option>
	                <option value="4">4</option>
	                <option value="5">5</option>
	            </select>
	        </div>
	        <!-- 
	        <div class="second">
	            <label class="stem-from">出题来源：</label>
	            <label class="radio1-all">
	                <input type="radio" class="radio1" value="错题+新题" name="radio-stem">
	                错题+新题
	                <input type="radio" class="radio1" value="只出新题" name="radio-stem">
	                只出新题
	                <input type="radio" class="radio1" value="只出错题" name="radio-stem">
	                只出错题
	                <input type="radio" class="radio1" value="不限题源" name="radio-stem">
	                不限题源
	            </label>
	        </div> -->
	        
	        <div class="second">
	            <label class="stem-from">选择单次题目数量：</label>
	            <label class="radio1-all">
	                <input type="radio" class="radio1" value="5" name="count" checked>
	                5题
	                <input type="radio" class="radio1" name="count"  value="10">
	                10题
	            </label>
	        </div>
	        <!--提交按钮设计-->
	        <div class="button btn-position">
	
	            <a href="#" class="reselect default">重选</a>
	            <input type="submit" class="submit reselect" value="确定">
	
	        </div>
	        <!--提交按钮设计-->
	    </div>
	    <!--主体尾部：选择难易程度和题数-->
	</section>

</form>


 <!--登录部分-->
	<form id="loginForm">
    <div id="LoginBox">
        <div class="row1">
            登录永春考试系统窗口<a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="closeBtn">×</a>
        </div>
        <div class="row">
          用户名:  <span class="inputBox">
                <input name="username" type="text" id="txtName" placeholder="账号/邮箱" />
            </span><a href="javascript:void(0)" title="提示" class="warning" id="warn">*</a>
        </div>
        <div class="row">
            密&nbsp;码: <span class="inputBox">
                <input name="password" type="password" id="txtPwd" placeholder="密码" />
            </span><a href="javascript:void(0)" title="提示" class="warning" id="warn2">*</a>
        </div>
        <div class="row">
            <a href="#" id="loginbtn">登录</a>
        </div>
        <div class="row">
            <span class="reg"><<未注册用户请>>>>>>>>>>>>>>>>><a href="register.html" >创建账号</a></span>
        </div>
    </div>
	</form>
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/tags.js"></script>
</body>
</html>